@import "tailwindcss";


@theme {
    --color-primary: #D97E2E;
    --color-brown: #845B37;
    --color-darkBrown: #61442A;
    --color-blackBrown: #4C2400;
    --color-background: #FFF8F4;
    --color-greyblack: #313333;

    --font-display: cartograph-cf, monospace;
    --font-bodytext: "Blinker", sans-serif;
}


h3 {
    font-family: cartograph-cf, monospace;
    text-transform: uppercase;
    color: var(--color-blackBrown);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    white-space: nowrap;
    
    padding: 0;
        margin: 0;
}
h4 {
font-family: cartograph-cf, monospace;
    text-transform: lowercase;
    color: var(--color-darkBrown);
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 100;
    white-space: nowrap;
    
    padding: 0;
    margin: 0;
}
h5, .ahref {
    font-family: cartograph-cf, monospace;
    text-transform: uppercase;
    color: var(--color-blackBrown);
    
    line-height: 3rem;
    /* letter-spacing: 0.2rem; */
    font-weight: 700;
    white-space: nowrap;

    padding: 0;
    margin: 0;
}
p {
font-family: "Blinker", sans-serif;
    text-transform: lowercase;
    color: var(--color-blackBrown);
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 100%;
}
#mail {
    font-family: cartograph-cf, monospace;
    text-transform: uppercase;
    color: var(--color-blackBrown);
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.07rem;
    font-weight: 700;
    white-space: nowrap;

    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 3100px) {
    p{
        font-size: 1.8rem;
    }
}


/* Blinker:
Thin 100 ExtraLight 200 Light 300 Regular 400 SemiBold 600 Bold 700 ExtraBold 800 Black 900 */