---
import Layout from "../layouts/Layout.astro";
import CasePreview from "../components/CasePreview.astro";
---

<Layout>
  <!-- overflow div, som gør der ikke sker page scroll -->
  <div class="w-full h-screen relative">
    <!-- section som kan scrolle -->
    <section
      class="flex overflow-x-scroll w-full h-[90%] items-center pl-[8rem] gap-[8rem] pb-8"
      id="case-scroll-container"
    >
      <CasePreview link="/poteparadiset" class="flex-none">
        <img slot="casepicture" src="/PP_pic2.jpg" alt="" />
        <h3 slot="title">Pote-Paradiset</h3>
        <h4 slot="case">exam project</h4>
        <p slot="ptext">
          Visuel identity, interface design, <br /> programming: p5, html, css.
        </p>
      </CasePreview>

      <CasePreview link="/undercase" class="flex-none">
        <img slot="casepicture" src="/uefapreview.jpg" alt="" />
        <h3 slot="title">UEFA FANzone</h3>
        <h4 slot="case">creative case</h4>
        <p slot="ptext">
          User Flow, Wireframing, Prototyping, UX/Ui-design, Gamification.
        </p>
      </CasePreview>

      <CasePreview link="/example" class="flex-none">
        <img slot="casepicture" src="/untitled.png" alt="" />
        <h3 slot="title">Lowpoly island</h3>
        <h4 slot="case">Blender Project</h4>
        <p slot="ptext">
          3D modelling, blender, rendering, Sculpting, UV Mapping, Shading.
        </p>
      </CasePreview>
      <CasePreview link="/example" class="flex-none">
        <img slot="casepicture" src="/Lizs.png" alt="" />
        <h3 slot="title">Liz's Danish</h3>
        <h4 slot="case">Visuel identity</h4>
        <p slot="ptext">
          Visual Identity Design, Branding, Logo Design, Typography, Adobe
          Suite.
        </p>
      </CasePreview>

      <CasePreview link="/example" class="flex-none">
        <img slot="casepicture" src="/Scout.png" alt="" />
        <h3 slot="title">Gruppesites</h3>
        <h4 slot="case">website project</h4>
        <p slot="ptext">
          Design Thinking, Concept Development, Website Design, Voice & Tone,
          Wordpress
        </p>
      </CasePreview>

      <CasePreview link="/example" class="flex-none">
        <img slot="casepicture" src="/Axidraw.png" alt="" />
        <h3 slot="title">truchet tiles</h3>
        <h4 slot="case">plot svg</h4>
        <p slot="ptext">
          p5.js, creative coding, Generative Art, Pen Plotting, Vector Graphics.
        </p>
      </CasePreview>
      <CasePreview link="/example" class="flex-none">
        <img slot="casepicture" src="/PI_Plakat.png" alt="" />
        <h3 slot="title">Sinus coding</h3>
        <h4 slot="case">coded poster</h4>
        <p slot="ptext">
          creative coding, Generative Art, processing, Poster Design,
          Mathematics.
        </p>
      </CasePreview>
    </section>
  </div>

  <div>
    <hr
      class="border-[0.3vw] absolute border-primary w-[88vw] right-0 z-50"
      style="bottom: 12rem;"
    />
  </div>
</Layout>

<style>
  body {
    background-color: var(--background);
    background-image: url("/casesbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; /*overflow som gør der ikke sker page scrol*/
  }

  /* Make the scrollbar less visible but still functional */
  #case-scroll-container::-webkit-scrollbar {
    height: 8px;
  }

  #case-scroll-container::-webkit-scrollbar-track {
    background: transparent;
  }

  #case-scroll-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
</style>
