---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="grid grid-cols-2 w-full h-[60%] pl-[10rem] pr-[10rem] mt-[10rem]"
  >
    <article class="bg-[#f5eeeacc] grid grid-rows-[10rem_10rem]">
      <div class="flex self-start justify-center pt-15">
        <h2 class="text-4xl">Imagine a professional picture here</h2>
      </div>
      <div class="flex flex-col self-center justify-center mt-15">
        <h2 class="text-4xl text-center">
          Imagine some appealing text about me :) <br />
        </h2>

        <h6 class="w-full">
          <br /> "I don't sugarcoat shit, I'm not Willy Wonka" <br />
          <br /> "It's okay if you don't like me—not everyone has great taste" <br
          />
          <br /> "With my energy levels, my blood type must be Dark Roast Positive!"
        </h6>
      </div>
    </article>
    <article
      class="relative grid grid-rows-[repeat(5,7rem)] w-full h-full self-center content-end"
    >
      <div class="relative flex items-center justify-center">
        <img src="/pil1.svg" alt="" class="absolute fill-primary" />
        <h5
          class="relative z-10 text-center transform translate-x-5 text-[2.2rem]"
        >
          Lets Connect!
        </h5>
      </div>
      <div class="relative flex items-center justify-center">
        <img src="/pil2.svg" alt="" class="absolute" />
        <a
          href="https://www.linkedin.com/in/mie-ven%C3%B8-skj%C3%A6rb%C3%A6k-567062232/"
          target="_blank"
          rel="noopener noreferrer"
          class="ahref relative z-10 text-center text-[1.75rem] transform translate-x-5 hover:underline"
          >LinkedIn</a
        >
      </div>
      <div class="relative flex items-center justify-center">
        <img src="/pil3.svg" alt="" class="absolute" />
        <h5
          class="relative z-10 text-center transform translate-x-5 text-[1.75rem]"
        >
          +45 41 98 41 54
        </h5>
      </div>
      <div
        class="relative flex items-center justify-center transform translate-x-10"
      >
        <img src="/pil4.svg" alt="" class="absolute" />
        <a
          id="mail"
          href="mailto:mie.venoe@outlook.com  "
          class="relative z-10 text-center transform -translate-x-4 hover:underline"
          >mie.venoe@outlook.com</a
        >
      </div>
    </article>
  </section>
</Layout>

<style>
  body {
    background-color: var(--background);
    background-image: url("/contactBackgound.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
