---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section
    class="absolute left-[2vw] bottom-[7vw] w-[36vw] font-display text-[2vw] text-darkBrown cursor-pointer group"
  >
    <!-- Morse kode (forsvinder ved hover) -->
    <h2
      class="absolute inset-0 transition-opacity duration-200 bg-[#fff8f4db] group-hover:opacity-0"
    >
      //-•-•/•-•/•/•-/-/••/•••-/•//
    </h2>

    <!-- CREATIVE med skrivemaskine-effekt -->
    <h2 class="flex space-x-1">
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[200ms] bg-[#fff8f4db]"
        >C</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[400ms] bg-[#fff8f4db]"
        >R</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[600ms] bg-[#fff8f4db]"
        >E</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[800ms] bg-[#fff8f4db]"
        >A</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1000ms] bg-[#fff8f4db]"
        >T</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1200ms] bg-[#fff8f4db]"
        >I</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1400ms] bg-[#fff8f4db]"
        >V</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1600ms] bg-[#fff8f4db]"
        >E</span
      >
    </h2>
  </section>
  <section
    class="absolute left-[2vw] bottom-[4vw] w-[50vw] font-display text-[2vw] text-darkBrown cursor-pointer group"
  >
    <!--  kode forsvinder ved hover -->
    <h2
      class="absolute text-[1.5vw] inset-0 transition-opacity bg-[#fff8f4db] duration-200 group-hover:opacity-0"
    >
      00001 01101 00010 01001 10100 01001 01111 10101 10011
    </h2>

    <!-- AMBITIOUS kommer løbende -->
    <h2 class="flex space-x-1">
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[200ms] bg-[#fff8f4db]"
        >A</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[400ms] bg-[#fff8f4db]"
        >M</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[600ms] bg-[#fff8f4db]"
        >B</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[800ms] bg-[#fff8f4db]"
        >I</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1000ms] bg-[#fff8f4db]"
        >T</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1200ms] bg-[#fff8f4db]"
        >I</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1400ms] bg-[#fff8f4db]"
        >O</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1600ms] bg-[#fff8f4db]"
        >U</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1800ms] bg-[#fff8f4db]"
        >S</span
      >
    </h2>
  </section>
  <section
    class="absolute left-[2vw] bottom-[1.5vw] w-[23vw] font-display text-[2vw] text-darkBrown cursor-pointer group"
  >
    <!--  kode forsvinder ved hover -->
    <h2
      class="absolute text-[2vw] bg-[#fff8f4db] inset-0 transition-opacity duration-200 group-hover:opacity-0"
    >
      3 21 18 9 15 21 19
    </h2>

    <!-- CURIOUS kommer løbende-->
    <h2 class="flex space-x-1">
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[200ms] bg-[#fff8f4db]"
        >C</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[400ms] bg-[#fff8f4db]"
        >U</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[600ms] bg-[#fff8f4db]"
        >R</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[800ms] bg-[#fff8f4db]"
        >I</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1000ms] bg-[#fff8f4db]"
        >O</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1200ms] bg-[#fff8f4db]"
        >U</span
      >
      <span
        class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 group-hover:delay-[1400ms] bg-[#fff8f4db]"
        >S</span
      >
    </h2>
  </section>
</Layout>

<style>
  body {
    background-color: var(--background);
    background-image: url("/backgroundpic.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
