---
const { link } = Astro.props;
---

<section
  class="min-w-[500px] w-[500px] h-[35rem] bg-[#f5eeeacc] grid grid-rows-[auto_auto] gap-10 flex-shrink-0"
>
  <div class="h-auto"><slot name="casepicture" /></div>

  <div class="grid grid-cols-4 grid-rows-[auto_auto_auto_auto_auto] pl-6">
    <div class="col-span-3 col-start-1 row-start-1">
      <slot name="title" />
    </div>
    <div class="col-span-3 row-start-2">
      <slot name="case" />
    </div>
    <div class="col-span-3 row-start-3 self-start">
      <hr
        class="border-[0.05rem] rounded-3xl w-[85%] border-darkBrown mb-[1.5rem] mt-[1rem]"
      />
    </div>
    <div class="col-span-3 row-span-2 row-start-4 pb-8">
      <slot name="ptext" />
    </div>

    <div class="row-span-5 col-start-4 justify-self-end self-end">
      <a href={link}><img src="/arrowbtnsq.svg" alt="" /></a>
    </div>
  </div>
</section>
