<nav class="w-2xl h-auto p-6 font-display bg-primary flex items-center">
  <ul
    class="w-full flex items-center justify-evenly text-background text-3xl uppercase"
  >
    <li class="hover:underline">
      <a href="/">Home</a>
    </li>
    <li class="hover:underline">
      <a href="/cases">Cases</a>
    </li>
    <li class="hover:underline">
      <a href="/about">About</a>
    </li>
    <li class="hover:underline">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<!-- flex items-center justify-evenly -->
