---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favikon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/gwe1lhm.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preload" href="/backgroundpic.png" as="image" />
    <link rel="preload" href="/aboutBackground.png" as="image" />
    <link rel="preload" href="/contactBackgound.png" as="image" />
    <link rel="preload" href="/casesbackground.png" as="image" />

    <meta name="generator" content={Astro.generator} />
    <title>Mie Venø Skjærbæk</title>
  </head>
  <body class="bg-background">
    <Header />
    <slot />
  </body><style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;

      background-color: var(--background);
    }
  </style>
</html>
